
.cart {
  .remove-btn {
    width: fit-content;
  }
  .controls {
    button {
      border: 1px solid var(--border-color);
      color: var(--main-color) !important;
      &.minus-disabled {
        opacity: .5;
        pointer-events: none;
      }
    }
    span {
      min-width: 2rem;
      text-align: center;
    }
  }
}