<footer class="bg-main-light py-5">
  <div class="container">
    <h3>Get The FreshCart App</h3>
    <p class="text-black-50 ">We Will Send You a Link, open it on your phone to download the app.</p>
    <div class="d-flex flex-column flex-sm-row justify-content-between column-gap-3 row-gap-2 mb-4">
      <input type="email" class="form-control shadow-none" placeholder="Email..." />
      <button class="btn bg-main text-white">Share App Link</button>
    </div>
    <div class="border-top border-bottom py-4 d-flex flex-column flex-md-row row-gap-4 justify-content-between">
      <div>
        <p class="fw-medium">Payment Partners</p>
        <img src="images/paymentlogow_ar.png" alt="" />
      </div>
      <div>
        <p class="text-md-center fw-medium">Get deliveries with FreshCart</p>
        <img class="google-play" src="images/google_play.png" alt="" />
        <img class="apple-story ms-1" src="images/apple_story.png" alt="" />
      </div>
    </div>
  </div>
</footer>
