nav {
  a , i:not(.fa-cart-shopping){
    transition: var(--main-transition);
    &:hover {
      color: var(--text-color);
    }
  }
  i {
    cursor: pointer;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 2px var(--text-color);
  }
  
}