
<div class="row gx-0 main-slider mb-3">
  <div class="col-md-9 slider">
  
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="images/slider1.jpeg" class="img-fluid" alt="">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="images/slider2.jpeg" class="img-fluid" alt="">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="images/slider3.jpeg" class="img-fluid" alt="">
      </ng-template>  
    </owl-carousel-o>

  </div>
  <div class="col-3 d-none d-md-block fixed-images">
    <img src="images/fixed1.png" class="img-fluid w-100 object-fit-cover" alt="">
    <img src="images/fixed2.png" class="img-fluid w-100 object-fit-cover" alt="">
  </div>
</div>