
<section *ngIf="allOrders.length > 0;else emptyOrders" class="py-5 my-5">
  <h3 class="fw-bold alt-title pb-2 text-center mb-4">Your Orders</h3>
  <div *ngFor="let order of allOrders; let index = index" class="text-color fw-medium mb-5 text-center">
    <p class="mb-2 fs-5">Order : <span class="text-muted fw-light"> {{index+1}}</span></p>
    <p class="mb-2 fs-5">Created At : <span class="text-muted fw-light"> {{order.createdAt|date}}</span></p>
    <p class="mb-3 fs-5">Total Order Price : <span class="fw-light text-main"> {{order.totalOrderPrice|currency:'EGP '}}</span></p>
    <div class="table-responsive">
      <table class="table light-border table-striped text-center table-responsive-sm">
        <thead class="bg-main text-white">
          <th></th>
          <th class="fw-normal py-1">Product</th>
          <th class="fw-normal py-1">Price</th>
          <th class="fw-normal py-1">Quantity</th>
          <th class="fw-normal py-1">Subtotal</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.cartItems">
            <td>
              <img [src]="item.product.imageCover" width="50" [alt]="item.product.title">
            </td>
            <td class="align-middle">
              <span>{{item.product.title.split(" ").slice(0, 2).join(" ")}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.price |currency:'EGP '}}</span>
            </td>
            <td class="align-middle">
              <span>{{item.count}}</span>
            </td>
            <td class="align-middle">
              <span>{{(item.price * item.count)|currency: 'EGP '}}</span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<ng-template #emptyOrders>
  <section class="py-5 my-5">
    <h3 class="fw-bold alt-title pb-2 text-center mb-4">Your Orders</h3>
    <div class="alert bg-main-light shadow-sm fs-5 mt-5 mb-5">There is'nt any orders.</div>
  </section>
</ng-template>
