<section  class="mb-5">
  
  <input *ngIf="searchType === 'products'" [(ngModel)]="searchTerm" type="text" class="form-control w-75 mx-auto shadow-none mb-5" placeholder="Search By Name ..." />
  
  <h3 class="main-title fw-bold ps-3 fs-5">Products</h3>
  <div class="row g-4">
    <div *ngIf="allProducts.length == 0" class="alert bg-main-light shadow-sm fs-5 mt-5 mb-5">Products not found in fresh market database</div>
    <div *ngFor="let product of allProducts|search:searchTerm" class="col-sm-6 col-lg-4 col-xl-3">
      <div class="product rounded-1 overflow-hidden bg-white">
        <span #heartIcon (click)="handleWishlist(heartIcon, product._id)" class="heart">
          <i [ngClass]="
            {'fa-solid': isItOnTheWishlist(product._id),
              'fa-regular': !isItOnTheWishlist(product._id),
            }" 
            class=" fa-heart text-main fs-3"></i>
        </span>
        <a [routerLink]="['/productdetails', product._id]" class="text-decoration-none text-color">
          <img [src]="product?.imageCover" class="card-img-top" alt="">
          <div class="p-3 ">
            <span class="text-main d-block mb-1">{{product?.category.name}}</span>
            <h4 class="fs-6 mb-3">{{product?.title.split(" ").slice(0, 3).join(" ")}}</h4>
            <div class="d-flex justify-content-between mb-2">
              <div class="text-muted"><span></span>{{product?.price|currency:'EGP ':'symbol':'1.0-0'}}</div>
              <div class="">
                <span><i class="fa-solid fa-star rating-color"></i></span>
                <span> {{product?.ratingsAverage}}</span>
              </div>
            </div>
          </div>
        </a>
        <div class="p-3 pt-0">
          <button (click)="addToCart(product._id)" class="btn w-100 d-block bg-main text-white">
            <i class="fa-solid fa-plus"></i> Add To Cart
          </button>
        </div>
      </div>

    </div>
  </div>

</section>