/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --text-color: #21313C;
  --main-hover: #22b522;
  --border-color:  #9dde9d;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
  --main-transition: .2s;
}

body {
  font-family: var(--font-family) !important;
  background: url("../public/light-patten.svg");
  color: var(--text-color);
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.font-sm {
  font-size: 14px;
}
.text-color {
  color: var(--text-color);
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
button.bg-main {
  transition: var(--main-transition);
  &:hover {
    background-color: var(--main-hover) !important;
  }
}
.bg-main-light {
  background-color: var(--light-color) !important;
}

input {
  transition: var(--main-transition);
  border-color: var(--border-color) !important;
  background-color: rgb(255, 255, 255, .2) !important;
  caret-color: var(--main-color);
  &:focus {
    border-color: var(--main-color) !important;
    &::placeholder {
      transition: var(--main-transition);
      opacity: 0;
    }
  }
}

input.is-invalid {
  border-color: #dc3545 !important;
}
input.is-valid {
  border-color: #198754 !important;
}

.product {
  position: relative;
  border: 1px solid  var(--border-color);
  .heart{
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    transition: var(--main-transition);
  }
}

.active-link {
  color: var(--text-color) !important;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: .5rem;
    bottom: 0;
    width: calc(50%);
    height: 1px;
    background-color: var(--main-color);
  }
}

.light-border {
  border: 1px solid var(--border-color);
}
.active-border {
  border-color: var(--text-color);
}

.main-title {
  position: relative;
  margin-bottom: .75rem;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: .3rem;
    border-radius: 50rem;
    background-color: var(--main-color);
  }
}
